#notfound {
  display: block;
  width  : clamp(220px, 100%, 80vmin);
  margin : 7vh auto auto auto;
}

  h1 {
    font-size: clamp(8rem, 12rem, 15rem);
    margin   : 0 auto;
  }


  @media screen and (min-width: 768px) {
    #notfound {
      display: block;
      width  : clamp(220px, 100%, 80vmin);
      margin : 7vh auto auto auto;
    }
  }